# Nightly test workflow for Fast DDS Statistics Backend
name: nightly

on:
  schedule:
    - cron: '0 5 * * *'

jobs:

  reusable_tests_v2:
    name: reusable_tests_v2
    uses: ./.github/workflows/reusable-workflow.yml
    with:
      custom_version_build: 'v2'
      dependencies_artifact_postfix: '_nightly'
      ref: '1.x'
    secrets: inherit

  # Uncomment this block to run the tests for Fast DDS v3 when Fast DDS Statistics Backend is updated
  # Also specify here (and above) the workflow version/branch to use (@feature/ubuntu-24, @main, etc.)
  # reusable_tests_v3:
  #   name: reusable_tests_v3
  #   uses: ./.github/workflows/reusable-workflow.yml
  #   with:
  #     custom_version_build: 'v3'
  #     dependencies_artifact_postfix: '_nightly'
  #     ref: 'main'
  #   secrets: inherit
