name: test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  ubuntu-build-test:
    runs-on: ubuntu-latest
    environment:
      name: codecov

    steps:
      - uses: actions/checkout@v2
        with:
          path: src/Fast-DDS-statistics-backend

      - uses: ./src/Fast-DDS-statistics-backend/.github/actions/install-apt-packages
      - uses: ./src/Fast-DDS-statistics-backend/.github/actions/install-python-packages
      - uses: ./src/Fast-DDS-statistics-backend/.github/actions/fetch-fastdds-repos

      - name: Update colcon mixin
        run: |
          colcon mixin add default \
            https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
          colcon mixin update default
        continue-on-error: true

      - name: Build workspace
        run: |
          cat src/Fast-DDS-statistics-backend/.github/workflows/colcon.meta
          colcon build \
            --event-handlers=console_direct+ \
            --metas src/Fast-DDS-statistics-backend/.github/workflows/colcon.meta \
            --mixin coverage-gcc asan-gcc

      - name: Run tests
        run: |
          source install/setup.bash && \
          colcon test \
            --packages-select fastdds-statistics-backend \
            --event-handlers=console_direct+ \
            --return-code-on-test-failure

      - name: Generate coverage report
        run: |
          cp src/Fast-DDS-statistics-backend/codecov.yml .
          mkdir coverage-report
          gcovr \
          --root src/Fast-DDS-statistics-backend/ \
          --object-directory build/fastdds-statistics-backend \
          --output coverage-report/coverage.xml \
          --xml-pretty \
          --exclude='.*nlohmann-json/.*' \
          --exclude='.*docs/.*' \
          --exclude='.*github/.*' \
          --exclude-unreachable-branches

      - name: Upload coverage
        uses: actions/upload-artifact@v1
        with:
          name: coverage-report
          path: coverage-report/
        if: always()

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage-report/coverage.xml
          root_dir: src/Fast-DDS-statistics-backend
          fail_ci_if_error: true

      - name: Upload Logs
        uses: actions/upload-artifact@v1
        with:
          name: colcon-logs-ubuntu
          path: log/
        if: always()

  clang-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: src/Fast-DDS-statistics-backend

      - uses: ./src/Fast-DDS-statistics-backend/.github/actions/install-apt-packages
      - uses: ./src/Fast-DDS-statistics-backend/.github/actions/install-python-packages
      - uses: ./src/Fast-DDS-statistics-backend/.github/actions/fetch-fastdds-repos

      - name: Build workspace
        run: |
          cat src/Fast-DDS-statistics-backend/.github/workflows/colcon.meta
          colcon build \
            --event-handlers=console_direct+ \
            --metas src/Fast-DDS-statistics-backend/.github/workflows/colcon.meta

      - name: Run clang-tidy
        run: |
          cd build/fastdds-statistics-backend
          run-clang-tidy -header-filter='.*' -checks='clang-analyzer-cplusplus'

  uncrustify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: src/Fast-DDS-statistics-backend

      - uses: actions/checkout@v2
        with:
          repository: ament/ament_lint.git
          path: src/ament_lint

      - uses: ./src/Fast-DDS-statistics-backend/.github/actions/install-apt-packages
      - uses: ./src/Fast-DDS-statistics-backend/.github/actions/install-python-packages

      - name: Build ament_uncrustify
        run: colcon build --packages-up-to ament_uncrustify

      - name: Fetch uncrustify config file
        run: |
          curl \
            -l https://raw.githubusercontent.com/eProsima/cpp-style/master/uncrustify.cfg \
            -o uncrustify.cfg

      - name: Check style
        run: |
          source install/local_setup.bash
          cd src/Fast-DDS-statistics-backend
          MODIFIED_FILES=$(git diff --name-only $GITHUB_BASE_REF $GITHUB_HEAD_REF)
          if [[ -z "${MODIFIED_FILES}" ]]
          then
            touch empty.hpp
            MODIFIED_FILES=empty.hpp
          fi
          ament_uncrustify \
            -c ../../uncrustify.cfg \
            --language CPP \
            --xunit-file ../../build/uncrustify_results.xml
            ${MODIFIED_FILES}

      - name: Upload uncrustify results
        uses: actions/upload-artifact@v1
        with:
          name: uncrustify_results
          path: build/uncrustify_results.xml
        if: failure()
